/.idea/
/recarguide_venv[23]/
/*.egg-info/
*.py[doc]
__pycache/
/build/
/dist/
db.sqlite3
/recarguide/settings_local.py
/node_modules/
/recarguide/common/static/bundle/*
!/recarguide/common/static/bundle/.gitkeep
/recarguide/common/media/*
!/recarguide/common/media/.gitkeep
/coverage/
/.coverage
/coverage.txt
