amqp==2.2.2
Babel==2.5.1
beautifulsoup4==4.6.0
billiard==3.5.0.3
boto3==1.4.7
botocore==1.7.30
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
coverage==4.4.1
Django==1.11.6
django-widget-tweaks==1.4.1
docutils==0.14
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
flower==0.9.2
idna==2.6
jmespath==0.9.3
kombu==4.1.0
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.1
python-dateutil==2.6.1
pytz==2017.2
raven==6.2.1
requests==2.18.4
s3transfer==0.1.11
six==1.11.0
stripe==1.67.0
tornado==4.5.2
urllib3==1.22
vine==1.1.4
