{% extends 'common/layout/basic.html' %}

{% block content %}
  <div id="home-banner">
    <div class="home-banner-bg"></div>
    <div class="home-banner-body">
      <div class="inner">
        <h1>
          Find your next Car
          <small class="ml-4"><a href="{% url 'sale:index' %}">Sell Your Car</a></small>
        </h1>
        <form class="row" action="{% url 'cars:search' %}" method="get">
          <div class="form-group col-md-6">
            <input type="text" class="form-control form-control-lg" name="q"
                   placeholder="Make/Manufacturer, Model, or Keywords">
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control  form-control-lg" name="l"
                   placeholder="Region, City, Area">
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-lg btn-success btn-block">
              <strong>Search</strong>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row" id="home-adv">
      <div class="col-lg-6 col-12 home-adv-text">
        <h2 class="mb-4">Sell your Car on ReCarGuide</h2>
        <i class="fa fa-money" aria-hidden="true"></i>
        <p class="my-4">
          More money in your pocket<br>
          <small>You can sell just about anything. What's in your garage or closet?</small>
        </p>
        <i class="fa fa-users" aria-hidden="true"></i>
        <p class="my-4">
          Big opportunity awaits<br>
          <small>Our marketplace has more than 100 million customers, so there's chance you'll not only find a buyer,
            but a buyer who's willing</small>
        </p>
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <p class="my-4">
          We're here for you<br>
          <small>Our dedicated Seller Protection team works behind the scenes around the clock— so you can sell
            confidently</small>
        </p>
        <a href="{% url 'sale:index' %}" class="btn btn-lg btn-outline-warning px-5 mt-2">
          <strong>Sell Your Car Now</strong>
        </a>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <img src="/static/img/pc-tablet-mobile.png" alt="PC, Computer, Tablet, Mobile"
             class="d-block mx-auto mt-5">
      </div>
    </div>

  </div>
{% endblock %}
