{% extends 'common/layout/main.html' %}

{% load sale %}

{% block content %}
    <div class="row">
        <div class="col-lg-10 mr-auto ml-auto">

            {% progress_bar 1 %}

            <div class="card-group" id="package-plan-selector">
                {% for plan in plans %}
                    <div class="card text-center{% if plan.primary %} package-plan-primary{% endif %}">
                        <div class="card-body">
                            <h4 class="card-title">{{ plan.name }}</h4>

                            <p class="card-text">{{ plan.description }}</p>
                            <p class="card-text">
                                Featured Days: <strong>{{ plan.featured_days }}</strong>
                                <br>
                                Max Photos: <strong>{{ plan.max_photos }}</strong>
                            </p>

                            {% if plan.primary %}
                                <button type="button" class="btn btn-primary btn-lg">Select</button>
                            {% else %}
                                <button type="button" class="btn btn-outline-primary">Select</button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
