{% load widget_tweaks %}

<form action="{% url 'sale:step4' %}" method="post" id="sale-payment-form">
    {% csrf_token %}

    <script src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{ STRIPE_PUBLISHABLE_KEY }}"
            data-amount="2000"
            data-name="ReCarGuide"
            data-description="Payment for your listing publish"
            data-image="/static/img/logo-stripe.png"
            data-locale="auto"
            data-zip-code="true"></script>
</form>
