{% extends 'common/layout/main.html' %}

{% load sale %}

{% block content %}
    <div class="row">
        <div class="col-lg-10 mr-auto ml-auto">
            {% progress_bar 1 %}

            <form action="{% url 'sale:step1' %}" method="post" id="package-plan-selector-form">
                {% csrf_token %}

                <div class="card-group" id="package-plan-selector">
                    {% for plan in plans %}
                        <div class="card text-center{% if plan.primary %} package-plan-primary{% endif %}">
                            <div class="card-body">
                                <h4 class="card-title">{{ plan.name }}</h4>

                                <p class="card-text">{{ plan.description }}</p>
                                <p class="card-text package-plan-specs">
                                    Price: <strong>${{ plan.price }}/month</strong>
                                    <br>
                                    Featured Days: <strong>{{ plan.featured_days }}</strong>
                                    <br>
                                    Max Photos: <strong>{{ plan.max_photos }}</strong>
                                </p>

                                {% if plan.primary %}
                                    <button type="button" class="btn btn-primary btn-lg" data-id="{{ plan.id }}">
                                        Select
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-outline-primary" data-id="{{ plan.id }}">
                                        Select
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <input type="hidden" name="package_plan_id" value="">
            </form>
        </div>
    </div>
{% endblock %}
